:root {
  --basic-white: #ffffff;
  --lower-contrast-grey: #edf2f5;
  --low-contrast-grey: #aaaaaa;
  --high-contrast-grey: #333333;
  --deep-green: #2d4649;
  --master-study-yellow: #fcb900;
}
.white-words {
  color: var(--basic-white);
}
.yellow-words {
  color: var(--master-study-yellow);
}
/* reset */
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--high-contrast-grey);
}

/* debug */
section {
  height: 50rem;
}

/* HEADER CON LA SUA NAV */
.main-header {
  height: 8rem;
  line-height: 6rem;
}
.navbar-nav > .nav-link {
  margin: 0 1rem;
  font-weight: bolder;
}
.socials {
  width: 100px;
}
/* JUMBOTRON & EMAIL INPUT */

.jumbotron {
  background-image: url(../IMG/slide-1.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-container {
  position: relative;
  width: 1370px;
  margin: 0 auto;
}
.jumbotron-title {
  width: 40%;
  position: absolute;
  top: 13rem;
  right: 13rem;
}
.jumbotron-input {
  height: 13rem;
  width: 90%;
  background-color: var(--master-study-yellow);
  border-radius: 10px;
  position: absolute;
  top: 42rem;
  left: 4rem;
}
.jumbotron-title > h1 {
  font-size: 4rem;
}

.subscribe {
  width: 50%;
  margin: 1rem 0 0 3rem;
}

.countdown {
  width: 50%;
}

.email-form {
  width: 100%;
  position: relative;
}

.mail-input {
  width: 70%;

  height: 3rem;
  border: 1px solid transparent;
  border-radius: 25px;
  padding-left: 1.5rem;
}

.button {
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 25px;
}

.button.btn-subscribe {
  width: 17%;
  background-color: var(--deep-green);
  color: var(--basic-white);
  position: absolute;
  right: 11rem;
}
