:root {
  --basic-white: #ffffff;
  --lower-contrast-grey: #edf2f5;
  --low-contrast-grey: #aaaaaa;
  --high-contrast-grey: #333333;
  --deep-green: #2d4649;
  --master-study-yellow: #fcb900;
}
.white-words {
  color: var(--basic-white);
}
/* reset */
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--high-contrast-grey);
}

/* debug */
section {
  height: 50rem;
}

.jumbotron-container {
  background-color: var(--master-study-yellow);
  height: 10rem;
  width: 1400px;
  margin: 0 auto;
}

/* HEADER CON LA SUA NAV */
.main-header {
  height: 8rem;
  line-height: 6rem;
}
.navbar-nav > .nav-link {
  margin: 0 1rem;
  font-weight: bolder;
}
.socials {
  width: 100px;
}
/* JUMBOTRON & EMAIL INPUT */

.jumbotron {
  background-color: var(--deep-green);
}

.subscribe {
  width: 50%;
  height: 100%;
  background-color: var(--low-contrast-grey);
}

.countdown {
  width: 50%;
  height: 100%;
  background-color: var(--basic-white);
}
